body {
  margin: 0;
  font-family: 'QuickSand', 'Roboto', 'OpenSans', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: var(--current-background);
}

#root {
  height: 100vh;
}

#root>div {
  min-height: calc(100% - 205px);
}

@font-face {
  font-family: 'Roboto';
  src: url('./components/assets/Roboto/Roboto-Regular.ttf')
}

@font-face {
  font-family: 'OpenSans';
  src: url('./components/assets/Open_Sans/OpenSans-Regular.ttf')
}

@font-face {
  font-family: 'QuickSand';
  src: url('./components/assets/Quicksand/Quicksand-Regular.ttf')
}

:root {
  --current-background: white;
  --current-background-contrast: rgba(221, 221, 221, 0.534);
  --current-background-contrast-hover: #ddd;
  --current-text-color: #676767c4;
  --current-text-opacity-color: #6767678f;
  --current-text-color-hover: #353535c4;
  --current-text-color-active: #676767;
  --current-border-color: gainsboro;
  --current-regular-text: #272727;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

*:not(input) {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

* {
  box-sizing: content-box;
}

.hidden>div {
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
}

.dropdown {
  position: relative;
}

.dropdown>.dropcontent {
  position: absolute;
  top: 140%;
  right: 0;
  background: var(--current-background);
  padding: 8px;
  border: solid var(--current-border-color) 1px;
  display: block;
  z-index: 1000;
  border-radius: 4px;
  transition: all .2s cubic-bezier(1, 0, 0, 1);
}

.dropfooter label {
  display: flex;
  text-align: center;
}

.dropfooter {
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  display: none;
}